window {
    opacity: 0.8;
    border:  0px;
    border-radius: 10px;
    font-family: "Space Mono";
    font-size: 18px;
}

#input {
    border-radius: 10px 10px 0px 0px;
    border:  0px;
    padding: 10px;
    margin: 0px;
    font-size: 24px;
    background-color: #444466;
}

#input > image.left {
    -gtk-icon-transform:scaleX(0);
    width: 0px;
    display: none;
}

#inner-box {
	margin: 0px;
}

#outer-box {
	margin: 0px;
        border-radius: 10px;
	background: #222233;
}

#entry {
	padding: 4px;
        margin: 0px;
	background: transparent;
}

#entry:selected {
        background: #444455;
	outline: none;
}

#expander-box {
        background: #1a1a3d;
}

#scroll {
	margin: 4px;
}

